@use '../../scss/variables';


.wrapper {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  position: relative;
  display: inline-block;
}


.primary {
  font-family: variables.$font-primary;
  font-size: 1rem;
  position: relative;

  & > .wrapper {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    position: relative;
    display: inline-block;
  }

  & .label {
    width: 100%;
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6em;
    color: variables.$color-primary;
    letter-spacing: 0.888889px;
    text-transform: uppercase;
  }

  & .options {
    position: absolute;
    top: 3em;
    left: 0;
    padding-top: 0.7em;
    width: 100%;
    font-family: inherit;
    font-size: 2em;
    color: variables.$color-fivefold;
    list-style: none;
    text-transform: uppercase;
    background-color: variables.$color-tertiary;
    z-index: 2000;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 0.3s;

    & li > button {
      display: block;
      font-size: inherit;
      font-family: inherit;
      color: inherit;
      padding: 0.5em 0.1em 0.5em 0.7em;
      transition: all 0.3s;
      text-transform: uppercase;
      visibility: inherit;

      &:hover {
        cursor: pointer;
        color: variables.$color-primary;
      }
    }
  }

  & .arrow {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: inherit;
    width: 1em;
    height: 0.6em;
    display: block;
    background-image: url("arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform-origin: center center;
    transition: all 0.3s;
  }

  & .selected {
    margin-top: 0.7em;
    width: 100%;
    display: block;
    border-radius: 0.32em;
    font-size: 2em;
    height: 3.1em;
    font-family: inherit;
    font-weight: 400;
    color: variables.$color-fivefold;
    padding: 0 1em;
    transition: all .3s;
    border: 0.125em solid transparent;
    background-color: transparentize(variables.$color-secondary, 0.4);
    box-sizing: border-box;
    position: relative;
    z-index: 3000;

    &_active {
      border: 0.125em solid variables.$color-primary;

      + .options {
        position: absolute;
        top: 100%;
        left: 0;
        padding-top: 0.7em;
        width: 100%;
        font-family: inherit;
        font-size: 2em;
        color: variables.$color-fivefold;
        list-style: none;
        text-transform: uppercase;
        background-color: variables.$color-tertiary;
        z-index: 2000;
        transition: all 0.3s;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }

      .arrow {
        position: absolute;
        top: 1em;
        right: 1em;
        font-size: inherit;
        width: 1em;
        height: 0.6em;
        display: block;
        background-image: url("arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        transform-origin: center center;
        transition: all 0.3s;
        transform: rotate(180deg);
      }
    }
  }
}

.secondary {
  font-family: variables.$font-primary;
  font-size: 1rem;

  & .label {
    display: inline;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6em;
    font-family: inherit;
    letter-spacing: 0.888889px;
    text-transform: uppercase;
    color: variables.$color-fivefold;
    opacity: 0.6;
    margin-right: 2em;
  }

  & .options {
    position: absolute;
    top: 2.5em;
    left: 0;
    padding-top: 0.7em;
    width: 100%;
    font-family: inherit;
    font-size: 1.6em;
    color: variables.$color-fivefold;
    list-style: none;
    text-transform: uppercase;
    background-color: variables.$color-tertiary;
    z-index: 2000;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 0.3s;

    & li > button {
      display: block;
      font-size: inherit;
      font-family: inherit;
      color: inherit;
      padding: 0.5em 0.1em 0.5em 0.7em;
      transition: all 0.3s;
      text-transform: uppercase;
      visibility: inherit;

      &:hover {
        cursor: pointer;
        color: variables.$color-primary;
      }
    }
  }

  & .arrow {
    position: absolute;
    top: 0.4em;
    right: 0;
    font-size: inherit;
    width: 0.7em;
    height: 0.4em;
    display: block;
    background-image: url("arrow.svg");
    background-repeat: no-repeat;
    transform-origin: center center;
    transition: all 0.3s;
  }

  & .selected {
    min-width: 10.3em;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6em;
    letter-spacing: 0.888889px;
    text-transform: uppercase;
    font-family: inherit;
    color: variables.$color-fivefold;
    padding-right: 1.9em;
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 3000;

    &_active + .options {
        position: absolute;
        top: 100%;
        left: 0;
        padding-top: 0.7em;
        width: 100%;
        font-family: inherit;
        font-size: 1.6em;
        color: variables.$color-fivefold;
        list-style: none;
        text-transform: uppercase;
        background-color: variables.$color-tertiary;
        z-index: 2000;
        pointer-events: all;
        transition: all 0.3s;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }

      .arrow {
        position: absolute;
        top: 0.4em;
        right: 0;
        font-size: inherit;
        width: 0.7em;
        height: 0.4em;
        display: block;
        background-image: url("arrow.svg");
        background-repeat: no-repeat;
        transform-origin: center center;
        transition: all 0.3s;
        transform: rotate(180deg);
      }
  }
}
