@use '../../scss/variables';

.primary {
  border-radius: .2em;
  font-size: 2em;
  height: 2.9em;
  font-family: inherit;
  font-weight: 400;
  color: variables.$color-primary;
  background: transparentize(variables.$color-tertiary, .12);
  padding: 0 .9em;
  transition: all .3s;
  border: .1em solid transparent;

  &:focus {
    border: .1em solid variables.$color-primary;
  }

  &::placeholder {
    color: variables.$color-fivefold;
    opacity: .3;
  }
}
