@use '../../scss/variables';

.movieList {
  width: 100%;
  max-width: variables.$containerWidth;
  margin: 0 auto;
  font-family: inherit;
  display: block;
  font-size: 1rem;
  padding: 0 2em;
  box-sizing: border-box;

  &__header {
    border-bottom: 2px solid variables.$color-secondary;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px variables.$color-eightfold;
    margin-bottom: 2.5em;
  }

  &__list {
    display: flex;
    font-size: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.navigationButton {
  font-family: inherit;
  color: variables.$color-fivefold;
  text-transform: uppercase;
  text-align: center;
  transition: all .3s;
  cursor: pointer;
  width: auto;
  border-radius: 0;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 1.2em;
  margin-right: 1.9em;
  padding-top: 1em;
  padding-bottom: 1.2em;
  display: inline-block;

  &_active, &:hover {
    box-shadow: 0 2px variables.$color-primary;
  }
}
