@use '../../scss/variables';

.movieList {
  width: 100%;
  max-width: variables.$containerWidth;
  margin: 0 auto;
  font-family: inherit;
  display: block;
  font-size: 1rem;
  padding: 0 2em;

  &__header {
    border-bottom: 2px solid variables.$color-secondary;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px variables.$color-eightfold;
    margin-bottom: 2.5em;
  }

  &__list {
    display: flex;
    font-size: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
