@use '../../scss/variables';

.footer {
  background-color: variables.$color-secondary;
  font-size: 1rem;
  height: 7em;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
