$color-primary: #F65261;
$color-secondary: #424242;
$color-tertiary: #232323;
$color-quaternary: #555555;
$color-fivefold: #ffffff;
$color-sixfold: #979797;
$color-sevenfold: #2A202D;
$color-eightfold: #080707;

$font-primary: 'Montserrat', sans-serif;

$containerWidth: 1080px;

$bp-large: 936px;
$bp-small: 684px;
$bp-extra-small: 465px;
